.service {
  background: rgb(233, 213, 213);
}

.spaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  .spaces__title {
    margin: 0;
    margin-top: calc(80% / (1440 / 100));
    color: #111214;
    font-size: calc(20px + 20 * (100vw / 1440));
    font-family: "Anton", Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    .span {
      color: #fe390c;
      font-size: calc(40px + 40 * (100vw / 1440));
      font-family: "Anton", Arial, Helvetica, sans-serif;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      margin-right: 24px;
      @media screen and (max-width: 397px) {
        margin-right: 8px;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: calc(61% / (1440 / 100));
    margin-top: calc(59% / (1440 / 100));
    margin-left: calc(150% / (1440 / 100));
    margin-right: calc(150% / (1440 / 100));
    margin-bottom: calc(84% / (1440 / 100));
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 25px;
    }
    @media screen and (max-width: 475px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      row-gap: 25px;
    }
    .card:hover {
      background-color: #fe390c;
      transition: all 0.7s ease-in-out;
      cursor: pointer;
      .card__title {
        color: white;
      }
      .card__subtitle {
        color: white;
      }
      .card__img {
        background: white;
        border-radius: 12px;
      }
    }
    .card:last-child {
      margin-right: 0;
    }
    .card {
      transition: all 0.7s ease-in-out;
      display: flex;
      flex-direction: column;
      background: #f7f7f7;

      .card__img {
        max-width: 32px;
        margin-left: 20px;
        margin-top: 40px;
      }
      .card__title {
        color: #111214;
        font-size: calc(8px + 8 * (100vw / 1440));
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.64px;
        margin: 0;
        margin-left: 20px;
        margin-top: 24px;
        margin-bottom: 8px;
      }
      .card__subtitle {
        color: #a9a9aa;
        font-size: calc(6px + 8 * (100vw / 1440));
        font-weight: 500;
        line-height: 171%;
        letter-spacing: -0.28px;
        margin: 0;
        margin-bottom: 31px;
        margin-left: 20px;
        margin-right: 31px;
      }
    }
  }
}
