.about {
  display: flex;
  flex-direction: row;
  padding-left: calc(150% / (1440 / 100));
  padding-right: calc(150% / (1440 / 100));
  padding-top: calc(90% / (1440 / 100));
  padding-bottom: calc(120% / (1440 / 100));
  background: rgb(233, 213, 213);
  @media screen and (max-width: 893px) {
    flex-direction: column;
  }
  .img {
    max-width: 485px;
    width: 50%;
    max-height: 667px;
    height: 50%;
    background: #d62f0a 0px -0.105px / 100% 114.915% no-repeat;
    margin-right: calc(74% / (1440 / 100));
    @media screen and (max-width: 893px) {
      align-self: flex-start;
      max-width: 385px;
      max-height: 567px;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    .count__container {
      margin-top: calc(190% / (1440 / 100));
      display: flex;
      flex-direction: row;
      align-items: center;
      .count {
        color: #fe390c;
        font-size: calc(40px + 40 * (100vw / 1440));
        font-family: "Anton", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        margin: 0;
        margin-right: 24px;
      }
      .count__title {
        margin: 0;
        color: #111214;
        font-size: calc(20px + 20 * (100vw / 1440));
        font-family: "Anton", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.8px;
        text-transform: uppercase;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      .title {
        color: #000;
        font-size: calc(8px + 24 * (100vw / 1440));
        font-family: "Anton", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin: 0;
        margin-top: calc(44% / (596 / 100));
      }
      .subtitle {
        margin: 0;
        margin-top: 15px;
        color: #a9a9aa;
        font-size: calc(6px + 8 * (100vw / 1440));
        font-style: normal;
        font-weight: 500;
        line-height: 228%;
        letter-spacing: -0.28px;
      }
    }
    .card {
      display: flex;
      flex-direction: row;
      margin-top: 32px;
      @media screen and (max-width: 541px) {
        justify-content: space-between;
      }
      .card__container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .card__count {
          color: #fe390c;
          font-size: calc(32px + 32 * (100vw / 1440));
          font-family: "Anton", Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.28px;
          text-transform: uppercase;
          margin: 0;
          margin-right: 12px;
        }
        .card__title {
          margin: 0;
          color: #111214;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: -0.56px;
        }
      }
      .card__container:last-child {
        margin-left: 64px;
        @media screen and (max-width: 541px) {
          margin-left: 0;
        }
      }
    }
  }
}
